<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/queries.css" />

    <title>Rural Referral System</title>
  </head>
  <body>
    <header class="header">
      <h1 class="heading-primary">Jeevan Setu</h1>
    </header>
    <main class="container">
      <div class="grid grid--2-cols grid--center">
        <div>
          <button class="btn">
            <p class="btn-text">
              <a href="referrals.html" class="link">Hospitals</a>
            </p>
          </button>
        </div>
        <div>
          <button class="btn">
            <p class="btn-text">
              <a href="patient_login_primary.html" class="link">Patients</a>
            </p>
          </button>
        </div>
      </div>
    </main>
  </body>
  <script src="../script/script.js"></script>
</html>
